* {
  margin: 0;
  padding: 0;
  list-style: none;
  --webkit-font-smoothing: antialiased;
  --webkit-overflow-scroling: touch;
}


.d-flex {
  display: flex;
}

.justify-space-between {
  justify-content: space-between;
}

.bold-weight {
  font-weight: bold;
}

#header,
#main,
#footer {
  padding: 0;
  margin: 0;
  max-width: 1500px;
}

.text-upper {
  text-transform: uppercase;
}

@media (min-width: 1200px) {}

.under-nav-block {
  opacity: 85%;
  padding: 10px;
  width: 100%;
  background-color: rgb(204, 235, 243);
  height: 80px;
}

#main-logo {
  display: block;
  width: 50px;
  height: 50px;
}

.live-forum-button {
  padding: 10px;
  display: block;
  height: 40px;
  width: 150px;
  margin-top: 10px;
}

.live-forum-button i {
  font-size: 16px;
}

#live-chat {
  color: rgb(24, 221, 73);
}

#forum {
  color: rgb(132, 146, 186);
}

.live-forum-button:hover {
  border-radius: 10px;
  background-color: rgb(164, 184, 234);
}

.live-forum-button .text-lf {
  color: red;
  font-size: 18px;
  margin-left: 10px;
}

#logo-block {
  margin-bottom: 2 0px;
  margin-left: 200px;
  padding: 10px;
}

#authentication-block {
  margin-right: 200px;
}

#authentication-block a i {
  color: rgb(255, 255, 255);
}

#authentication-block a {
  font-size: 14px;
}

#authentication-block a+a {
  margin-left: 5px;
}

.social-networks {
  text-align: right;
}

.social-networks a #twitter-ic {
  color: rgba(51, 119, 255, 0.807);
}

.social-networks a #facebook-ic {
  color: blue;
}

.social-networks a #g-plus-ic {
  color: red;
}

.bridge-block {

  background-image: url(../media/images/nyc-bridge.jpg);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 500px;
}

.blur-for-bridge {
  backdrop-filter: blur(4px);
  height: 100%;
  width: 100%;
}

.nav {
  background-color: #FFF;
  width: 1170PX;
  height: 50px;
  margin: auto;
  text-align: center;
  padding: 0 30px;
  padding-top: 10px;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;

}

.nav a {
  text-decoration: none;
  display: block;
  width: 130px;
  height: 30px;
}

.nav a:hover {
  background-color: rgb(63, 229, 113);
  border-radius: 15px;
  color: #FFF;
}

#main-title {
  color: #FFF;
  text-shadow: 1px 1px 2px black;
}

.main-title-block {
  text-align: center;
  padding-top: 120px;
  margin-bottom: 30px;
}

.green-button {
  color: #FFF;
  border-radius: 15px;
  border: none;
  display: block;
  height: 30px;
  width: 130px;
  text-align: center;
  background-color: rgb(63, 229, 113);
}

.blue-button {
  color: #FFF;
  border-radius: 15px;
  border: none;
  background-color: #0d6efd;
  display: block;
  height: 30px;
  width: 130px;
  text-align: center;
}

.buttons-bridge-container {
  padding: 0 40%;
}

#OR {
  font-size: 18px;
  color: #FFF;
  font-weight: bold;
  margin: 0 15px;
  text-shadow: 1px 1px 2px black;
}

.advantages-container {
  width: 100%;
  height: 300px;
  background-color: rgb(210, 221, 255);
  margin-bottom: 80px;
}

.advantages-item {
  padding-top: 40px;
  text-align: center;
  margin: 30px auto;
  display: block;
  height: 240px;
  width: 200px;
}

.advantages-item i {
  color: #0d6efd;
  font-size: 60px;
  margin-bottom: 15px;
}

.advantages-item h5 {
  color: #0d6efd;
  margin-bottom: 15px;
}

.advantages-item p {
  font-size: 13px;
}

.howit-aboutus-container {
  padding: 10px 150px;
  width: 1170px;
  margin: auto;
  margin-bottom: 100px;
}

.howit-aboutus-container #under-howit-title {
  margin-top: 100px;
}

#investment-video {
  width: 400px;
  height: 240px;
}

.greenborder-title {
  font-weight: bold;
  display: block;
  width: 180px;
  border-bottom: 2px solid rgb(63, 229, 113);
}

.ig-signup {
  padding: 15px 30px;
  text-align: center;
}

.ig-signup {
  color: #0d6efd;
  font-size: 21px;
}

.green-to-white-button {

  width: 160px;
  height: 40px;
  background-color: #FFF;
  color: rgb(63, 229, 113);
  border: 3px solid rgb(63, 229, 113);
  border-radius: 25px;
}

.info-graphic-signup-container {
  margin-bottom: 130px;
}

#readmore-howit {
  margin: 0 auto;
}

.map-container img {
  height: 200px;
  width: 340px;
}

.text-aboutus {
  padding: 30px 0;
}

.text-aboutus p+p {
  margin-top: 30px;
}

.plane-block {
  padding-top: 120px;
  text-shadow: 1px 1px 2px black;
  color: #FFF;
  text-align: center;
  background-image: url(../media/images/invest-with-pic.jpg);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 300px;
  margin-bottom: 100px;
}

.news-container {
  height: 300px;
  border-bottom: 1px solid rgb(199, 192, 192);
  padding: 0 120px;
  width: 1170px;
  margin: 0 auto;
  margin-bottom: 80px;
}

.news-container h4 {
  margin-bottom: 50px;
}

.news .news-item+.news-item {
  margin-left: 30px;
}

.data-block {
  margin-right: 30px;
  width: 70px;
}

.data-block h1 {
  color: rgb(63, 229, 113);
}

.text-news a {
  text-decoration: none;
  color: rgb(63, 229, 113);
}

.testimonial-and-today{
  padding: 0 100px;
  width: 1170px;
  margin: 0 auto;
}
.avatar{
  width: 45px;
  height: 45px;
  border-radius: 50%;
}
.fio{
  margin-left: 15px;
}
#testim{
  margin-bottom: 100px;
}
.testimonials-item:not(:first-child){
  margin-left: 30px;
}

#todays-title{
  margin-bottom: 70px;
}
.testimonial-and-today .testm-today-item+.testm-today-item{
  margin-left: 50px;
}


.plane{
  transform:scale(1.3);
  opacity:0.9;
  cursor:pointer;
}
input[type="radio"]:checked+span{
  color: rgb(63, 229, 113);
}

#vote-button {
  margin-top: 20px;
}