*{
  margin: 0;
  padding: 0;
  list-style: none;
  --webkit-font-smoothing: antialiased;
  --webkit-overflow-scroling: touch;
}

.d-flex{
  display: flex;
}
.justify-space-between{
  justify-content: space-between;
}

.bold-weight{
  font-weight: bold;
}
.under-nav-block{
  margin: auto;
}

